@import "reset";
@import "variables/global";
@import "themes/dark";
@import "themes/normal";

.app,
.app_modal {
    font: var(--font-m);
    color: var(--text-color);
}

.app {
    background: var(--bg-color);
    min-height: 100vh;
}

.content-page {
    display: flex;
}

.login {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
