.LoginForm {
    background: var(--inverted-bg-color);
    border-radius: var(--border-radius);
    display: flex;
}

.blockRight {
    border-right: 1px solid var(--bg-color);
    padding-right: 40px;
    margin-right: 40px;
}

.inputs {
    margin-bottom: 30px;
    width: 100%;
}

.input {
    margin-top: 20px;
}

.btn {
    margin-left: auto;
    width: 100%;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.logoIcon {
    width: 120px;
    height: 120px;
}