.title {
    color: var(--text-color);
}

.text {
    margin-top: 5px;
    color: var(--text-color);
}

.primary {
    .title {
        color: var(--primary-color);
    }

    .text {
        color: var(--primary-color);
    }
}

.secondary {
    .title {
        color: var(--secondary-color);
    }

    .text {
        color: var(--secondary-color);
    }
}

.primary_grey {
    .title {
        color: var(--primary-color);
    }

    .text {
        color: var(--inverted-text-color);
    }
}

.normal_grey {
    .text {
        color: var(--inverted-text-color);
    }
}

.error {
    .title {
        color: var(--red-color);
    }

    .text {
        color: var(--red-color);
    }
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.size_m {
    .title {
        font: var(--font-l);
    }

    .text {
        font: var(--font-m);
    }
}

.size_l {
    .title {
        font: var(--font-xl);
    }

    .text {
        font: var(--font-l);
    }
}

.size_lm {
    .title {
        font: var(--font-xl);
    }

    .text {
        font: var(--font-m);
    }
}