.Text {
    color: var(--text-color);
    //width: fit-content;
}

.bold {
    font-weight: 700 !important;
}

.primary {
    color: var(--primary-color);
}

.secondary {
    color: var(--secondary-color);
}

.red {
    color: var(--red-color);
}

.green {
    color: var(--green-color);
}

.yellow {
    color: var(--yellow-color);
}

.gray {
    color: var(--inverted-text-color);
}

.normal {
    color: var(--text-color);
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.size_s {
    font: var(--font-s);
}

.size_m {
    font: var(--font-m);
}

.size_l {
    font: var(--font-l);
}

.size_lm {
    font: var(--font-lm);
}

.size_xl {
    font: var(--font-xl);
}

.fullWidth {
    width: 100%;
}