.Alert {
    min-width: 300px;
    width: fit-content;
    position: fixed;
    margin-right: 10px;
    border-radius: var(--border-radius);
    background: var(--inverted-bg-color);
    border: 1px solid var(--inverted-bg-color);
    top: 20px;
    right: 0;
    opacity: 1;
    z-index: 10000;
    padding: 10px 15px;
    animation: slideIn 0.5s ease-out, fadeOut 1s ease-in 4s forwards;
}

.icon {
    margin-right: 15px;
}

.success {
    color: var(--green-color);
    border: 1px solid var(--green-color);

    .icon {
        fill: var(--green-color);
    }
}

.error {
    color: var(--red-color);
    border: 1px solid var(--red-color);

    .icon {
        fill: var(--red-color);
    }
}

.warning {
    color: var(--yellow-color);
    border: 1px solid var(--yellow-color);

    .icon {
        fill: var(--yellow-color);
    }
}

@keyframes slideIn {
    from {
        right: -100px;
    }

    to {
        right: 0;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}
