.item {
    cursor: pointer;
    padding: 11px 14px;
    border-radius: var(--border-radius);
    width: 100%;

    &:hover {
        background: var(--bg-color);

        .link {
            color: var(--text-color);
        }

        .icon {
            fill: var(--text-color);
        }
    }
}

.link {
    outline: none;
    text-decoration: none;
    color: var(--inverted-text-color);
}

.icon {
    fill: var(--inverted-text-color);
    width: 20px;
    height: 20px;
}

.active {
    background: var(--bg-color);

    .link {
        color: var(--primary-color);
    }

    .icon {
        fill: var(--primary-color);
    }

    &:hover {
        .link {
            color: var(--primary-color);
        }

        .icon {
            fill: var(--primary-color);
        }
    }
}

.collapsed {
    .link {
        display: none;
    }
}
