.ProfileCardBackgroundPhoto {
}

.avatar {
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translate(-50%, -70%)
}

.wallpapers {
  height: 360px;
}

.wrapper {
  position: relative;
}

.text {
  margin-top: 90px;
}