.ProfileCardBackgroundPhoto {
}

.avatar {
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translate(-50%, -70%);
  box-shadow: var(--shadow-primary) 0px 0px 2px 0px, var(--shadow-secondary)  0px 5px 10px -4px;

}

.wallpapers {
  height: 360px;
  width: 100%;
  border-radius: var(--border-radius);
  //background: linear-gradient(135deg, #fb5454, #ffa70b);
  //background: linear-gradient(135deg, #10b981, #3c50e0);
  //background: linear-gradient(135deg, #10b981, #fb5454);
  //background: linear-gradient(135deg, #ffa70b, #fb5454);
  background: linear-gradient(155deg, #3c50e0, #fb5454, );
  //background: linear-gradient(135deg, #10b981, #ffa70b, #fb5454, #3c50e0);
}

.wrapper {
  position: relative;
}
