.Card {
  background-color: var(--inverted-bg-color);
  border-radius: var(--border-radius);
}

.padding10 {
  padding: 10px;
}

.padding20 {
  padding: 20px;
}

.padding40 {
  padding: 40px;
}

.padding60 {
  padding: 60px;
}

.max {
  width: 100%;
}