.TaskPageFilter {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 100%;
}

.filterBtn {
    display: flex;
    align-items: center;
}

.btnWrapper {
    margin-left: auto;
}

.btn {
    margin-left: 15px;
}
