.wrapper {
    display: flex;
    align-items: center;
}

.input {
    background: transparent;
    border: 1px solid var(--inverted-text-color);
    border-radius: var(--border-radius);
    outline: none;
    color: var(--text-color);
    padding: 7px 14px;
    width: 100%;

    &:focus {
        outline: none;
        border: 1px solid var(--primary-color);
    }
}

.clear {
    border: none;
}

.background {
    background: var(--bg-color);
    border: 1px solid var(--bg-color);
}

.readonly {
    &:focus {
        outline: none;
        border: 1px solid var(--inverted-bg-color);
    }
}

.with_icon {
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
    border: 1px solid var(--bg-color);
    border-left-color: var(--primary-color);
    background: var(--bg-color);
}

.max {
    width: 100%;
}

.error {
    border-color: var(--red-color);

    &:hover {
        border-color: var(--red-color);
    }
}