.EditTaskForm {
    width: 700px;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.form {
    margin: 15px 0;
}

.inputItem {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.selectors {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.text {
    margin-bottom: 5px;
}

.description {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    min-height: 150px;
}
