.ListBox {
    position: relative;
}

.ListBoxWrapper {
    display: flex;
    align-items: center;
}

.title {
    padding: 8px 10px;
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: var(--border-radius) 0 0 var(--border-radius);
}

.trigger {
    min-width: 100px;
    padding: 8px 10px;
    border-radius: var(--border-radius);
    background: var(--bg-color);
    cursor: pointer;
    border: none;
    color: var(--text-color);
}

.triggerTitle {
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
}

.top_list {
    .options {
        position: absolute;
        z-index: 10000;
        width: 100%;
        min-width: fit-content;
        margin-bottom: 45px;
        bottom: 0;
        max-height: 220px;
        overflow-y: auto;
        background: var(--bg-color);
        border-radius: var(--border-radius);
        border: 1px solid var(--inverted-bg-color);
        box-shadow: var(--shadow-primary) 0px 0px 2px 0px, var(--shadow-secondary)  0px 5px 10px -4px;
    }
}

.bottom_list {
    .options {
        position: absolute;
        max-height: 205px;
        overflow-y: auto;
        z-index: 10000;
        width: 100%;
        min-width: fit-content;
        margin-top: 5px;
        background: var(--bg-color);
        border-radius: var(--border-radius);
        border: 1px solid var(--inverted-bg-color);
        box-shadow: var(--shadow-primary) 0px 0px 2px 0px, var(--shadow-secondary)  0px 5px 10px -4px;
    }
}

.item {
    text-align: center;
    padding: 10px;
    width: 100%;
    cursor: pointer;
}

.disabled {
    .trigger {
        border: none;
        color: var(--primary-color);
        cursor: auto;
        font-weight: 800;
    }
}

.disabledItem {
    opacity: 0.5;
    cursor: no-drop;
}

.clear_trigger {
    min-width: auto;
    background: transparent;
}

.clear {
    min-width: 133px;
    width: 100%;
    background: var(--inverted-bg-color);
}

.left {
    left: 0;
}

.right {
    right: 0;
}