.TaskListNoData {
    width: 100%;
    height: 450px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    padding: 50px;
    border: 2px solid var(--primary-color);
    border-radius: var(--border-radius);
}
