.TaskPage {
}

.header {
    padding: 10px;
    margin-bottom: 20px;
    background: var(--inverted-bg-color);
    border-radius: var(--border-radius);
}

.taskTable {
    background: var(--inverted-bg-color);
    padding: 10px;
    border-radius: var(--border-radius);
}
