.app_dark_theme {
    //Background
    --bg-color: #1a222c;
    --inverted-bg-color: #24303f;

    //Main
    --primary-color: #3c50e0;
    --secondary-color: #fff;

    //Text
    --text-color: #fff;
    --inverted-text-color: #a2abb5;

    //Skeleton
    --skeleton-color: #3849be;
    --skeleton-shadow: #1c262f;
}
