.app_light_theme {
    //Background
    --bg-color: #f7f7f7;
    --inverted-bg-color: #ffffff;

    //Main
    --primary-color: #3c50e0;
    --secondary-color: #fff;

    //Text
    --text-color: #1c2434;
    --inverted-text-color: #64748b;

    //Skeleton
    --skeleton-color: rgba(99, 100, 108, 0.32);
    --skeleton-shadow: rgba(0 0 0 / 20%);

    //Shadow
    --shadow-primary: rgba(145, 158, 171, 0.3);
    --shadow-secondary: rgba(145, 158, 171, 0.45);
}
