.HeaderDropdownItem {
    padding: 10px;
    //min-width: 100px;
    border-radius: var(--border-radius);
    &:hover {
        background: var(--bg-color);

        .item {
          fill: var(--text-color);
          color: var(--text-color);
        }
    }
}

.isButton {
    padding: 0;
    border-radius: 0;

    .item {
      fill: var(--secondary-color);
      color: var(--secondary-color);
    }

    &:hover {
        background: transparent;

        .item {
          fill: var(--secondary-color);
          color: var(--secondary-color);
        }
    }
}

.isLine {
    padding: 0;
}