.FinanceGraph {
  width: 520px;
  height: 422px;
}

.panelCard {
  width: 36px;
  position: relative;
  transition: width 0.3s ease;
  white-space: nowrap;
}

.panel {
  height: 402px;
}

.full_w {
  width: 110px;
}

.chart {
  height: 320px;
}

.toggleBtn {
  position: absolute;
  top: 10px;
  left: -10px;
}