.TaskListHeader {
    //display: flex;
    //align-items: center;
    //justify-content: space-between;
    //padding: 10px;
    background: var(--primary-color);
    border-radius: var(--border-radius);
}

.th,
.th_center {
    padding: 15px 10px;
    text-align: left;
    color: var(--secondary-color);
}

.th_center {
    text-align: center;
}

.icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
    fill: #fff;
  
    &:hover {
        opacity: 0.8;
    }
}
